.settings_page_twitch-tv-wall .branding_options .twitch-wall {
    display: none;
}

.settings_page_twitch-tv-wall .branding_options .twitch-wall-preview-text {
    display: none;
}

.settings_page_twitch-tv-wall .twitch-wall-branded {
    text-align: center;
}

.settings_page_twitch-tv-wall .twitch-wall-branded img {
    margin: 0 auto;
}

.settings_page_twitch-tv-wall .twitch-wall-branded p {
    font-size: 16px;
}

.settings_page_twitch-tv-wall .twitch-wall-branded ul li {
    position: relative;
    display: inline-block;
    font-size: 15px;
}

.settings_page_twitch-tv-wall .twitch-wall-branded ul li:before {
    content: "•";
    position: absolute;
    left: -10px;
}

.settings_page_twitch-tv-wall .twitch-wall-branded ul li:after {
    content: "•";
    position: absolute;
    right: -10px;
}

.settings_page_twitch-tv-wall .nav-tab--branding {
    padding-left: 24px;
    background-image: url(../img/new.png);
    background-position: -5px;
    background-size: 45px 45px;
    background-repeat: no-repeat;
}

.settings_page_twitch-tv-wall .twitch-form .radio {
}

.settings_page_twitch-tv-wall .twitch-form .error {
    color: red;
    display: inline-block;
    width: 100%;
    display: none
}

.settings_page_twitch-tv-wall .twitch-form .error.show {
    display: inline-block;
}

.settings_page_twitch-tv-wall .twitch_settings_hidden {
    display: none;
}

.settings_page_twitch-tv-wall .twitch-plugins-upsell {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.settings_page_twitch-tv-wall .twitch-plugins-upsell-item {
    width: calc(33.3% - 4%);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
    margin: 0 2% 2%;
}

.settings_page_twitch-tv-wall .twitch-plugins-upsell-item img {
    width: 100%;
    height: auto;
}

.settings_page_twitch-tv-wall .twitch-plugins-upsell-item span {
    display: block;
    text-align: center;
    margin: 5px 0;
}

.settings_page_twitch-tv-wall .twitch-plugins-upsell-item a {
    display: block;
    width: 100%;
    text-align: center;
}

.settings_page_twitch-tv-wall .disabled {
    cursor: not-allowed;
}

.settings_page_twitch-tv-wall .upsell {
    color: red;
}

.settings_page_twitch-tv-wall #twitch-module {
    max-width: 1240px;
    margin: 0 auto;
}

.settings_page_twitch-tv-wall .embed-error span {
    background: yellow;
    padding: 5px 10px;
    color: #000;
}
